@using WcfService;
@{ViewBag.Title = "Books";}

<h2>Books</h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Description</th>
        <th>URL</th>
    </tr>

    @foreach (PublicBook PublicBook in Model.PublicBook)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => PublicBook.Name)</td>
            <td>@Html.DisplayFor(modelItem => PublicBook.AuthorName)</td>
            <td>@Html.DisplayFor(modelItem => PublicBook.Description)</td>
            <td>@Html.DisplayFor(modelItem => PublicBook.URL)</td>
        </tr>
    }
</table>
