@using WcfService;
@{ViewBag.Title = "Books";}

<h2>Books</h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Description</th>
        <th>URL</th>
    </tr>

    @foreach (BookAuthor BookAuthor in Model.BookAuthor)

    {
        if (BookAuthor.Visability == 1)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => BookAuthor.Name)</td>
                <td>@Html.DisplayFor(modelItem => BookAuthor.AuthorName)</td>
                <td>@Html.DisplayFor(modelItem => BookAuthor.Description)</td>
                <td>@Html.DisplayFor(modelItem => BookAuthor.URL)</td>
            </tr>
        }
        else { }
    }
</table>
